h2, h3, p{
  font-size: 1rem;
}

button{
  border-radius: 20px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button:hover{
  background-color: lightgray;
  border: 5px solid;
}

.sec1{
  border: solid 1px lightgray;
}

.h3size{
  font-size: 0.87rem;
}

.psize{
  font-size: 0.78rem;
  color: gray;
}