.section {
  border: solid 2px lightgray;
}
.cover-img {
  width: 100%;
  max-height: 201px;
}

.profile {
  min-height: 160px;
  max-width: 160px;
  border-radius: 100%;
  position: relative;
  top: -90px;
  left: 20px;
  border: solid 5px white;
}

.profile-imgs {
  max-height: 280px;
}

.persona-img {
  width: 5%;
}
